@font-face {
    font-family: Minecraft;
    src:url("/fonts/Minecraft.ttf");
}

body
{
/* color:#464646; */
background-color: black;
color:black;
font-weight:bold;
font-family:'Minecraft', sans-serif;
font-size:16px;
width: 450;
height: 800;
margin:0 auto;
/* background-image:url(night.png); */
/* width:auto;
height:auto;
padding:auto;
margin: auto; */
}
.form-popup{
    display: none;
    padding: 25px;
    background-color: #000;
    position: relative;
    position: fixed;
    width: 450;
    height: 800;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}
.form-container {
    /* max-width: 10px; */
    padding: 10px;
    background-color: #000;
  }
  
.parent-container
{
background-color:#000;
/* opacity:0.9; */
}

.loginholder
{
padding:25px 50px 25px 50px;
background-color:#00000000;
display:inline-block;
}

.inputbox
{
border:2px solid #464646;
padding:5px;
width:300px;
color:#fff;
background-color:#000;
border-radius:0px;
transition: all 0.5s;
font-weight:normal;
}

.inputbox:focus,.inputbox:hover
{
border:2px solid blue;
color:#fff;
background-color:#000;
font-weight:bold;
}

h2,.labelc,h1,h3,h4,h5
{
padding:0px;
margin:0px;
color:#fff;
}
.white-btn-normal{
padding:15px 40px;
color:#000;
background-color:#fff;
transition: all 0.5s;
border-radius:5px;
border:2px solid #000;
text-decoration:none;
font-weight:bold;
font-size: 30px;
cursor:pointer;
}
.btn-large
{
padding:30px 40px;
color:#fff;
background-color:#000;
transition: all 0.5s;
border-radius:5px;
border:3px solid #fff;
text-decoration:none;
font-weight:bold;
font-size: 30px;
cursor:pointer;
}

.btn-normal
{
padding:15px 40px;
color:#fff;
background-color:#000;
transition: all 0.5s;
border-radius:5px;
border:2px solid #fff;
text-decoration:none;
font-weight:bold;
font-size: 30px;
cursor:pointer;
}

.btn-normal:focus,.btn-normal:hover
{
color:#000;
border:2px solid #000;
background-color:#fff;
text-decoration:none;
}

.forgetpassword
{
font-weight:bold;
color:blue;
}

.forgotpassword:hover,.forgetpassword:focus
{
color:black;
}

.btn-normal-logo
{
color:#fff;
background-color:#000;
border:2px solid #fff;
text-decoration:none;
font-weight:bold;
cursor:pointer;
}

.btn-normal-logo:focus,.btn-normal-logo:hover
{
border:2px solid blue;
color:blue;
}